# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Object files and cached files
*.o
*.a
*.bak

# Build directories
bin/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak
*.log
.DS_Store

# Ignore editor or IDE directories
.idea/
.vscode/
*.iml

# cmd directory: ignore everything except Go source files and documentation
v2/cmd/*/*
!v2/cmd/*/*.go
!v2/cmd/*/*.txt
!v2/cmd/*/*.md
!v2/cmd/*/*.rst
!v2/cmd/*/*.asciidoc
!v2/cmd/*/*.1*

# images not in img/
*.bmp
*.gif
*.jpeg
*.jpg
*.png
*.webp
!img/*

# Orbiton include.txt file
include.txt
